[submodule "binutils"]
	path = binutils
	url = git@github.com:sifive/riscv-binutils-gdb.git
	branch = kitoc/upstream-cfi-wip
[submodule "gcc"]
	path = gcc
	url = git@github.com:sifive/riscv-gcc.git
	branch = func-sig-dev
[submodule "glibc"]
	path = glibc
	url = git@github.com:sifive/riscv-glibc.git
	branch = riscv-glibc-2.39-cfi
[submodule "dejagnu"]
	path = dejagnu
	url = https://git.savannah.gnu.org/git/dejagnu.git
	branch = master
[submodule "newlib"]
	path = newlib
	url = https://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "gdb"]
	path = gdb
	url = https://sourceware.org/git/binutils-gdb.git
	branch = gdb-13-branch
[submodule "qemu"]
	path = qemu
	url = git@github.com:sifive/qemu.git
	branch = riscv-qemu-8.1.0-cfi
[submodule "musl"]
	path = musl
	url = https://git.musl-libc.org/git/musl
	branch = master
[submodule "spike"]
	path = spike
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
	branch = master
[submodule "pk"]
	path = pk
	url = https://github.com/riscv-software-src/riscv-pk.git
	branch = master
[submodule "llvm"]
	path = llvm
	url = git@github.com:sifive/riscv-llvm.git
	branch = riscv-llvm-17-cfi
